* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.row:before, .row:after {
  content: " ";
  display: table;
  clear: both; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 10px;
  display: inline-block; }

.header {
  background-color: #313234;
  height: auto;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 4; }

.header .container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right; }

.header .container li {
  display: inline-block; }

.header .container a {
  line-height: 50px;
  padding: 0 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.header .container a:hover {
  color: #00C7E8; }

.header .container img {
  padding: 10px 0; }

.hero {
  height: 100vh;
  width: 100%;
  background: url(https://images.pexels.com/photos/99551/hot-air-balloon-valley-sky-99551.jpeg?h=350&auto=compress&cs=tinysrgb) no-repeat;
  background-size: cover;
  background-position: center; }

.hero .slogan {
  background-color: rgba(0, 0, 0, 0.2);
  float: right;
  width: 500px;
  max-width: 800px;
  padding: 30px;
  margin: 100px 0; }

.hero h1 {
  text-transform: uppercase; }

.hero .slogan p {
  color: #fff;
  font-size: 30px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.benefits .container {
  margin: 50px auto;
  text-align: center; }

.benefits i {
  font-size: 80px;
  padding: 25px;
  color: #fff;
  background-color: #313234;
  border-radius: 10px; }

.benefits a {
  color: #313234;
  text-decoration: none;
  text-transform: uppercase; }

.benefits p {
  color: #5A5A5C;
  padding: 30px; }

.benefits a:hover i {
  background-color: #00C7E8;
  transition-duration: 0.5s;
  cursor: pointer; }

.benefits a:hover h3 {
  color: #00C7E8;
  transition-duration: 0.5s;
  cursor: pointer; }

.featured .container h1 {
  font-size: 30px;
  text-align: center; }

.featured p {
  color: #5A5A5C;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px; }

.gallery [class*=col-] {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  position: relative; }

.gallery img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover; }

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px; }

.layer .fa {
  visibility: hidden;
  color: #313234;
  padding: 5px;
  margin: 0;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 5px; }

.layer:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1s;
  cursor: pointer; }

.layer:hover .fa {
  visibility: visible; }

.team [class*=col-] {
  padding: 0;
  margin-top: 60px; }

.team .circle {
  position: relative;
  height: 240px;
  width: 240px;
  margin: 0 auto; }

.team .circle img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; }

.team h2 {
  color: #5A5A5C;
  text-align: center; }

.team .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 240px;
  text-align: center;
  border-radius: 50%;
  color: #fff; }

.team .layer h3 {
  visibility: hidden; }

.team .layer:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 1s; }

.team .layer:hover h3 {
  visibility: visible;
  transition: 1s; }

.promotion {
  width: 100%;
  max-height: 500px;
  background-color: #313234;
  padding: 20px;
  display: block;
  overflow: hidden; }

.promotion [class*="col-"] {
  padding: 10px; }

.promotion img {
  width: 100%;
  margin-bottom: 0; }

.promotion h1 {
  text-align: left;
  text-transform: uppercase;
  color: white;
  padding: 0 30px;
  font-size: 40px; }

.promotion p {
  text-align: left;
  color: white;
  padding: 0px 30px; }

.number {
  padding: 20px; }

.number h1 {
  font-family: 'Baloo Bhaina', sans-serif;
  font-size: 50px;
  text-align: center;
  height: 30px; }

.number p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #00C7E8;
  text-align: center; }

.footer {
  background-color: #313234;
  color: white;
  width: 100%;
  display: block;
  position: center; }

.footer [class*="col-"] {
  padding: 10px;
  text-align: left; }

.footer h2 {
  text-align: left;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase; }

.footer i {
  background-color: #00C7E8;
  color: white;
  font-size: 30px;
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 10px 0 20px;
  margin-top: 10px; }

.footer .media a {
  margin: 10px; }

.footer h2::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background: #FFF;
  margin: 8px; }

.end {
  background-color: black;
  height: 60px;
  line-height: 10px;
  width: 100%;
  text-align: center; }

.end p {
  color: white;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }
  .col-s-2 {
    width: 16.66%; }
  .col-s-3 {
    width: 25%; }
  .col-s-4 {
    width: 33.33%; }
  .col-s-5 {
    width: 41.66%; }
  .col-s-6 {
    width: 50%; }
  .col-s-7 {
    width: 58.33%; }
  .col-s-8 {
    width: 66.66%; }
  .col-s-9 {
    width: 75%; }
  .col-s-10 {
    width: 83.33%; }
  .col-s-11 {
    width: 91.66%; }
  .col-s-12 {
    width: 100%; }
  .header {
    float: none;
    text-align: center; }
  .header .container ul {
    float: none;
    background-color: #313234;
    text-align: center; }
  .header .container ul li {
    display: block;
    margin-bottom: 0; }
  .slogan {
    text-align: right;
    padding-top: 100px; }
  [class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left; }
  .featured .container {
    text-align: center;
    margin: 0;
    padding: 0; }
  .promotion {
    max-height: 100%; }
  .promotion h1, .promotion p {
    text-align: center; }
  .footer .media a {
    margin: 0 2px; }
  .footer [class*="col-"] {
    text-align: center; }
  .footer h2 {
    text-align: center; }
  .footer h2::before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 1px;
    background: #fff;
    margin: 8px; }
  .footer h2::after {
    width: 70px; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .col-m-1 {
    width: 8.33%; }
  .col-m-2 {
    width: 16.66%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.33%; }
  .col-m-5 {
    width: 41.66%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.33%; }
  .col-m-8 {
    width: 66.66%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.33%; }
  .col-m-11 {
    width: 91.66%; }
  .col-m-12 {
    width: 100%; }
  .team .circle {
    height: 170px;
    width: 180px; }
  .team .layer:hover h3 {
    visibility: hidden; } }

/*# sourceMappingURL=main.css.map */